body {
	font-size: 14px;
	line-height: 24px;
	font-family: "PTSans", sans-serif;
	font-weight: bold;
	background-color: black;
}

ul {
	list-style: none;
}

.main-navigation a,
.login-link {
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.container {
	background: #f8f5f2;
}

.page-title {
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
	text-decoration:none;
}

.breadcrumbs-current {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #aba9a7;
}

legend {
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-option {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-item {
	background-color: white;
}

.catalog-item a {
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-decoration:none;
}

.catalog-item-title {
	text-transform: uppercase;
}

.main-footer {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #232323;
}

.main-footer a {
	color: #ffffff;
}

.modal {
	background: #f8f5f2;
	color: #000000;
	text-transform: uppercase;
}